
.social-widgets {
    /* float: right; */
    list-style: none;
    margin: 0;
    font: 1em/1em 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Segoe WP', sans-serif;
    font-weight: bold;
}
.social-widget {
    float: left;
}
.facebook-widget {
    background: #3b5b99;
    background-color: rgba(59, 91, 153, 0.4);
    width: 47px;
    height: 20px;
}
.google-widget {
    background-color: rgba(221, 75, 57, 0.4);
    width: 32px;
    height: 20px;
}
.twitter-widget {
    background-color: rgba(51, 204, 255, 0.4);
    width: 55px;
    height: 20px;
}
.linkedin-widget {
    background-color: rgba(71, 117, 180, 0.4);
    width: 61px;
    height: 20px;
}

.social-widgets .placeholder {
    color: #ffffff;
    display: block;
    text-align: center;
    text-decoration: none;
    height: 100%;
}
.facebook-widget .placeholder {
    background: #3b5b99;
}
.google-widget .placeholder {
    background: #dd4b39;
}
.twitter-widget .placeholder {
    background: #33ccff;
}
.linkedin-widget .placeholder{
    background: #4875B4;
}


.horizontal_count.facebook-widget {
    height: 20px;
    width: 75px;
}
.horizontal_count.google-widget {
    height: 20px;
    width: 57px;
}
.horizontal_count.google-widget .placeholder {
    padding-top: 1px;
}
.horizontal_count.twitter-widget {
    width: 75px;
    height: 20px;
}
.horizontal_count.linkedin-widget {
    width: 90px;
    height: 20px;
}
.horizontal_count.linkedin-widget > div {
    margin-right: -5px;
}

.vertical_count.facebook-widget {
    width: 47px;
    height: 62px;
    line-height: 62px;
}
.vertical_count.google-widget {
    width: 50px;
    height: 62px;
    line-height: 62px;
}
.vertical_count.twitter-widget {
    width: 55px;
    height: 62px;
    line-height: 62px;
}
.vertical_count.linkedin-widget {
    width: 61px;
    height: 62px;
    line-height: 62px;
}